.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar-brand > img {
  width: 17%;
  height: 5vh;
  margin-left: 15px;
}

.navbar-brand > div {
  width: 8%;
}

.navbar-brand > div > i {
  color: #fff;
  font-size: 1.7rem;
}

.fa-bars {
  transition: all ease-in-out 0.3s;
  transform: rotate(360deg);
}

.fa-times {
  transition: all ease-in-out 0.3s;
  transform: rotate(180deg);
}

.menu-list {
  flex-direction: column;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 25px 20px;
  right: 0;
  top: 50px;
  transition: all 0.4s ease-in-out;
}

.menu-list li {
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.menu-list > li > a {
  text-decoration: none;
  color: #fff9;
  font-size: 1.2rem;
  line-height: 2.2rem;
  transition: all ease-in-out 0.2s;
}

.menu-list > li > a:hover {
  color: #fff;
}

.menu-list.close {
  right: 100%;
  transition: all 0.4s ease-in-out;
}
